* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: rgb(215, 213, 213);
}

.footer-contenu {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;

  box-sizing: border-box;
  gap: 50px;
  text-decoration: none;
}

footer {
  background-color: rgb(167, 167, 167);
  color: black;
  padding: 2%;
}

footer a {
  color: black;
  background-color: rgb(167, 167, 167);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .footer-contenu {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0;
  }
}

.photo-profil {
  clip-path: ellipse(50% 50%);
  border-radius: 100%;
  border: 5px solid white;
}

header {
  background-color: #b3020b;
  text-align: center;
  padding: 10px 1px;
  color: azure;
}

header h1 {
  font-size: 50px;
  margin: 10px;
  background-color: #b3020b;
}

header h3 {
  font-size: 20px;
  margin: 10px;
  background-color: #b3020b;
}

header p {
  background-color: #b3020b;
}

nav ul {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #b3020b;
}

nav a {
  flex-wrap: wrap;
  color: white;
  text-decoration: none;
  transition: color 0.5s;
  background-color: #b3020b;
}

nav li {
  flex-wrap: wrap;
  background-color: #b3020b;
}

nav a:hover {
  flex-wrap: wrap;
  color: #020000;
}

@media screen and (min-width: 800px) {
  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    list-style-type:none
  }
}

main {
    margin: 10px auto;
    padding: 0 10px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}

section h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 5px solid #b3020b;
    padding-bottom: 3px;
}

section p {
    color: black;
    background-color: white;
    font-size: 20px;
}

.section-a-propos h2 {
  background-color:white;
}

.section-competences h2 {
  background-color: white;
}

.competence-card h3, li{
  background-color: white;
  text-decoration: none;
  list-style-type:none;
}

